﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <script>
            function redirect(dropDownValue) {
                if (dropDownValue != null && dropDownValue.length > 0) {
                    window.location.href = document.URL + "?language=" + dropDownValue;
                }
            }
         </script>

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title" style="color: #999">@Html.ActionLink("Walk The Maze", "Index", "Home")</p>
                </div>
                <div class="float-right">

                    <select name="lang" onchange="redirect(this.value)" style="float:right; margin-left:15px">
                        <option value="">@WalkTheMazeResources.Resource.SelectOne</option>
                        <option value="en-US">@WalkTheMazeResources.Resource.LangEN</option>
                        <option value="pt-PT">@WalkTheMazeResources.Resource.LangPT</option>
                    </select>
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink(@WalkTheMazeResources.Resource.Home, "Index", "Home")</li>
                            <li>@Html.ActionLink(@WalkTheMazeResources.Resource.About, "About", "Home")</li>
                            <li>@Html.ActionLink(@WalkTheMazeResources.Resource.Ldrbrds, "Index", "Score")</li>
                            <li>@Html.ActionLink(@WalkTheMazeResources.Resource.Map, "Index", "Map")</li>
                            <li>@Html.ActionLink(@WalkTheMazeResources.Resource.Contact, "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Walk The Maze</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
