﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Error;
}

<hgroup class="title">
    <h1 class="error">@WalkTheMazeResources.Resource.Error</h1>
    <h2 class="error">@WalkTheMazeResources.Resource.ErrorMsg</h2>
</hgroup>
