﻿@model WalkTheMaze.Models.Score

@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Details;
}

<h2>@WalkTheMazeResources.Resource.Details</h2>

<fieldset>
    <legend>@WalkTheMazeResources.Resource.Score</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Points)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Points)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Map.MapData)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Map.MapData)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Player.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Player.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink(@WalkTheMazeResources.Resource.Edit, "Edit", new { id = Model.ScoreID }) |
    @Html.ActionLink(@WalkTheMazeResources.Resource.BackList, "Index")
</p>
