﻿@model IEnumerable<WalkTheMaze.Models.Score>

@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Ldrbrds;
}

<h2>@WalkTheMazeResources.Resource.LdrbrdsFor @ViewBag.mapName</h2>

@using (Html.BeginForm("Index", "Score")) {
    @Html.AntiForgeryToken()
    <select name="id">
        @foreach (var map in ViewBag.maps) {
            <option value="@map.MapID">@map.MapName</option>
        }
    </select>
    <input type="submit" value="@WalkTheMazeResources.Resource.Check" />


}

@if (Model.Any()) { 

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>

        </tr>
    }

</table>

}
else {
    <p>@WalkTheMazeResources.Resource.NoScoresReg</p>
}