﻿@model WalkTheMaze.Models.Map

@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Create;
}

<h2>@WalkTheMazeResources.Resource.Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Map</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MapData)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.MapData, new { style = "width: 500px;" })
            @Html.ValidationMessageFor(model => model.MapData)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MapName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MapName)
            @Html.ValidationMessageFor(model => model.MapName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MapType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MapType)
            @Html.ValidationMessageFor(model => model.MapType)
        </div>

        <p>
            <input type="submit" value="@WalkTheMazeResources.Resource.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink( @WalkTheMazeResources.Resource.BackList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
