﻿@model WalkTheMaze.Models.Map

@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Delete;
}

<h2>@WalkTheMazeResources.Resource.Delete</h2>

<h3>@WalkTheMazeResources.Resource.DeleteConf</h3>
<fieldset>
    <legend>@WalkTheMazeResources.Resource.Map</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.MapName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MapName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.MapType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MapType)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.MapData)
    </div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.MapData, new { @readonly = "readonly" })
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="@WalkTheMazeResources.Resource.Delete" /> |
        @Html.ActionLink(@WalkTheMazeResources.Resource.BackList, "Index")
    </p>
}
