﻿@model WalkTheMaze.Models.Map

@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Details;
}

<h2>@WalkTheMazeResources.Resource.Details</h2>

<fieldset>
    <legend>@WalkTheMazeResources.Resource.Map</legend>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.MapName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MapName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MapType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MapType)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.MapData)
    </div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.MapData, new { @readonly = "readonly" })
    </div>
</fieldset>
<p>
    @Html.ActionLink(@WalkTheMazeResources.Resource.Edit, "Edit", new { id=Model.MapID }) |
    @Html.ActionLink(@WalkTheMazeResources.Resource.BackList, "Index")
</p>
