﻿@model IEnumerable<WalkTheMaze.Models.Map>

@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Index;
}

<h2>@WalkTheMazeResources.Resource.Index</h2>

<p>
    @Html.ActionLink(@WalkTheMazeResources.Resource.Create, "Create")
</p>
<table>
    <tr>

        <th>
            @WalkTheMazeResources.Resource.MapName
        </th>
        <th>
            @WalkTheMazeResources.Resource.MapType
        </th>
        <th>
            @WalkTheMazeResources.Resource.MapData
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MapName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapType)
            </td>
            <td>
                @Html.TextAreaFor(modelItem => item.MapData, new {@readonly ="readonly" })
            </td>

@if (Request.IsAuthenticated && User.Identity.Name == "Admin") { 
            <td>
                @Html.ActionLink(@WalkTheMazeResources.Resource.Edit, "Edit", new { id = item.MapID }) |
                @Html.ActionLink(@WalkTheMazeResources.Resource.Details, "Details", new { id = item.MapID }) |
                @Html.ActionLink(@WalkTheMazeResources.Resource.Delete, "Delete", new { id = item.MapID })
            </td>
}
        </tr>
    }

</table>
