﻿@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
    <div class="message-info">
        <p>@WalkTheMazeResources.Resource.ExtLogTxt<a href="http://go.microsoft.com/fwlink/?LinkId=252166">@WalkTheMazeResources.Resource.ClickHere</a>
        </p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        <legend>@WalkTheMazeResources.Resource.LogOtherS</legend>
        <p>
        @foreach (AuthenticationClientData p in Model)
{
    <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="@WalkTheMazeResources.Resource.LoginUsing  @p.DisplayName">
        @p.DisplayName
        </button>
}
        </p>
    </fieldset>
    }
}
