﻿@model WalkTheMaze.Models.LocalPasswordModel

<p>
    @WalkTheMazeResources.Resource.LocalPwdtxt
    
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@WalkTheMazeResources.Resource.SetPwdForm</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="@WalkTheMazeResources.Resource.SetPwd" />
    </fieldset>
}
