﻿@model WalkTheMaze.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Register;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@WalkTheMazeResources.Resource.AssocAcc @ViewBag.ProviderDisplayName</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@WalkTheMazeResources.Resource.AssocForm</legend>
        <p>
            @WalkTheMazeResources.Resource.SuccessAuth <strong>@ViewBag.ProviderDisplayName</strong>
            @WalkTheMazeResources.Resource.EnterUser
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="@WalkTheMazeResources.Resource.Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
