﻿@model WalkTheMaze.Models.LoginModel

@{
    ViewBag.Title =  @WalkTheMazeResources.Resource.LogIn;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="@WalkTheMazeResources.Resource.LogIn" />
    </fieldset>
    <p>
        @Html.ActionLink( @WalkTheMazeResources.Resource.Register, "Register") @WalkTheMazeResources.Resource.NoAcc
    </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
