﻿@model WalkTheMaze.Models.RegisterModel
@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Register;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@WalkTheMazeResources.Resource.CreateAcc</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@WalkTheMazeResources.Resource.RegForm</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="@WalkTheMazeResources.Resource.Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
