﻿@model WalkTheMaze.Models.Player

@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Create;
}

<h2>@WalkTheMazeResources.Resource.Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@WalkTheMazeResources.Resource.Player</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="@WalkTheMazeResources.Resource.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@WalkTheMazeResources.Resource.BackList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
