﻿@model WalkTheMaze.Models.Player

@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Delete;
}

<h2>@WalkTheMazeResources.Resource.Delete</h2>

<h3>@WalkTheMazeResources.Resource.DeleteConf</h3>
<fieldset>
    <legend>@WalkTheMazeResources.Resource.Player</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="@WalkTheMazeResources.Resource.Delete" /> |
        @Html.ActionLink(@WalkTheMazeResources.Resource.BackList, "Index")
    </p>
}
