﻿@model WalkTheMaze.Models.Player

@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Details;
}

<h2>@WalkTheMazeResources.Resource.Details</h2>

<fieldset>
    <legend>@WalkTheMazeResources.Resource.Player</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink(@WalkTheMazeResources.Resource.Edit, "Edit", new { id = Model.PlayerID }) |
    @Html.ActionLink(@WalkTheMazeResources.Resource.BackList, "Index")
</p>
