﻿@model WalkTheMaze.Models.Player

@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Edit;
}

<h2>@WalkTheMazeResources.Resource.Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@WalkTheMazeResources.Resource.Player</legend>

        @Html.HiddenFor(model => model.PlayerID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="@WalkTheMazeResources.Resource.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@WalkTheMazeResources.Resource.BackList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
