﻿@model IEnumerable<WalkTheMaze.Models.Player>

@{
    ViewBag.Title = @WalkTheMazeResources.Resource.Index;
}

<h2>@WalkTheMazeResources.Resource.Index</h2>

<p>
    @Html.ActionLink(@WalkTheMazeResources.Resource.Create, "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink(@WalkTheMazeResources.Resource.Edit, "Edit", new { id = item.PlayerID }) |
            @Html.ActionLink(@WalkTheMazeResources.Resource.Details, "Details", new { id = item.PlayerID }) |
            @Html.ActionLink(@WalkTheMazeResources.Resource.Delete, "Delete", new { id=item.PlayerID })
        </td>
    </tr>
}

</table>
