﻿@{
    ViewBag.Title = WalkTheMazeResources.Resource.About;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>WebForge</h2>
</hgroup>

<article>
    <p>
        @WalkTheMazeResources.Resource.AboutText
    </p>
    <p>
        PortFolio:
    </p>
    <p>
        <ul>
            Walk The Maze
        </ul>
    </p>

</article>