﻿@{
    ViewBag.Title = WalkTheMazeResources.Resource.Contact;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>@WalkTheMazeResources.Resource.Phone</h3>
    </header>
    <p>
        <span class="label">@WalkTheMazeResources.Resource.MainPhone</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">@WalkTheMazeResources.Resource.AfterHoursPhone</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>@WalkTheMazeResources.Resource.Email</h3>
    </header>
    <p>
        <span class="label">@WalkTheMazeResources.Resource.SupportEmail</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">@WalkTheMazeResources.Resource.MarketingEmail</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">@WalkTheMazeResources.Resource.GeneralEmail</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>@WalkTheMazeResources.Resource.Address</h3>
    </header>
    <p>
        Rua Senhor Filipe de Nery, 1.<br />
        4050-546 Porto
        PORTUGAL
    </p>
</section>