﻿@{
    ViewBag.Title = "WebForge";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                @WalkTheMazeResources.Resource.TitleIndex
            </p>
        </div>
    </section>
}
<h3>@WalkTheMazeResources.Resource.IndexDownload<a href="http://www.google.com" target="_blank"></a></h3> 
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

